body{
    background: url(Images/Background.jpg) no-repeat fixed;
    background-size: cover;
    color: white;
    margin: 0, auto;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 600px;
    line-height: 12px;
}

header h1 {
    font-size: 120px;
    text-transform: uppercase;
}

header span {
    font-size: 30px;
}

header img {
    height: 300px;
}

#about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin-left: 5%;
}

#about div h2 {
    font-size: 26px;
    text-transform: uppercase;
}

#about div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    flex: 1;
    border-radius: 10px;
    max-width: 300px;
    font-stretch: 2;
    border-style: solid;
    border-width: 3px;
    background: linear-gradient(to right, #f25a29 0%, #373737 100%);
}

#about div:hover {
    box-shadow: 12px 12px 2px 1px #f25a2980;
    color: #d88d13;
    text-shadow: -4px 3px 0 black;
}

#cocktails {
    padding: 150px 20px;
    margin: 10px 20%;
}

#cocktails>div {
    position: relative;
    overflow: hidden;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 300px;
    border: 3px solid #f25a29;
    box-shadow: 12px 12px 2px 1px #f25a2980;
    border-radius: 10px;
}


.sunmoon {
    background: url(./Images/cocktail_01.jpg);
    background-size: cover;
}

.mentalux {
    background: url(./Images/cocktail_02.jpg);
    background-size: cover;
}

.cocowhip {
    background: url(./Images/cocktail_03.jpg);
    background-size: cover;
}

.citrinus {
    background: url(./Images/cocktail_04.jpg);
    background-size: cover;
}

.spicherry {
    background: url(./Images/cocktail_05.jpg);
    background-size: cover;
}

#cocktails>div h3{
    font-size: 20px;
    text-transform: uppercase;
    color: white;
    font-weight: 800;
    background-color: #00000080;
    padding: 5px;
    border-radius: 10px;
}

.overlay {
    position: absolute;
    background: linear-gradient(180deg, #f25a29 0%, #373737 100%);
    height: 100%;
    width: 100%;
    top: 100%;
    display: flex;
    justify-content: center;
    align-items:  center;
    flex-direction: column;
    border: 2px solid #f25a29;
    border-radius: 10px;
    transition: all 0.7s;
}

.overlay img {
    width: 140px;
}

.overlay p {
    font-size: 25px;
    text-align: center;
}

#cocktails>div:hover .overlay {
    z-index: 1;
    transform: rotate(360deg);
    top:0px;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0;
    font-weight: 600;
    font-size: 18px;
    background-color: #555;
    border-top: 15px solid #f25a29;
    padding-left: 20px;
    padding-right: 20px;
}

footer a {
    text-decoration: none;
    color: white;
}